* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
}
:root {
  --primary-color: #8bd8bd;
  --secondary-color: #2b4fa0;
  --hover-color: #72b89e;
  --text-color: #333;
  --subtext-color: #777;
  --light-grey: #f4f2f5;
  --grey: #8c939d;
  --red: #e34414;
  --dark-red: #ca3d12;
  --bg-btn: #eef8f2;
  --hover-bg-btn: #dff8e9;
  --bg-primary: #eef2f6;
}

.app {
  overflow-x: hidden;
}

/* custom MUI css */

.Mui-focused {
  color: var(--hover-color) !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--hover-color) !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: var(--secondary-color) !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--primary-color) !important;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: var(--primary-color) !important;
}
button {
  transition: all 0.3s ease !important;
}
